.container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container .box {
    display: block;
    text-align: center;
}
.container .box img{
    border-radius: 50%;
}
.container .box h2{
    color: #049ce9;
}
.container .box p{
    line-height: 1.5;
    margin: 5px 0 0;
    max-width: 500px;
}
.skills{
    background-color: #95cae542;
    margin-top: 50px;
    margin-bottom: 50px;
}
.skills h1{
    text-align: center;
    padding-top: 15px;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.container img{
width: 200px;
height: 200px;
border-radius: 50%;
}
.container .info h3{
    color: #049ce9;
    margin-left: 40px;
}
.container .info p{
    line-height: 1.5;
    margin: 5px 0 0;
    max-width: 500px;
    margin-left: 40px;
}
.footers{
    margin-top: 50px;
    margin-bottom: 50px;
    position: relative;
}
.footers .bullets{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -30px;
    display: flex;
    list-style: none;
}
.footers .bullets li{
    width: 10px;
    height: 10px;
    border: 1px solid #333;
    border-radius: 50%;
    margin-right: 10px;
}
.footers .container{
    margin-top: 20px;
   
}
.footers .container .box .socolor{
    color: #049ce9;
    text-align: center;
    font-size: 30px;
}
.footers .container .box .hodaa{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}
.footers .container .box  p{
    text-align: center;
    margin: auto;
}
.footers .container .box  button{
    margin-top: 20px;
    font-size: 20px;
    background-color: #049ce9;
    color: white;
    padding: 5px 6px;
    border-radius: 7px;
}
.footer{
display: flex;
justify-content: center;
align-items: center;
background-color:  #95cae542;
margin-top: 50px;
height: 100px;

}
.footer ul li {
   list-style: none;
     color: #049ce9;
}
.footer ul li a{
    text-decoration: none;
     color: #049ce9;
}


